header {
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  vertical-align: middle;
  line-height: 50px;
  min-width: 1024px;
  font-family: arial;
}

.navi-header  span{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-container {
  width: 100%;
}

.title-header {
  float: left;
  width: 45%;
  font-size: 350%;
  font-weight: bold;
  margin-left: 5%;
}

.navi-header {
  margin-right: 5%;
  float: right;
  width: 45%;
}

.menu-header {
  display: inline-block;
  width: 30%;
  float: right;
  text-align: right;
}
